@model SignUp



<form enctype="multipart/form-data" method="post">
    <div class="container">
        <div class="row">
            <div class="input-group my-2">
                <input value = "@Model.Title" name="Tittle" id="Tittle" class="form-control" type="text" placeholder="Title" />
            </div>
            
            <div class ="card">
                <div class = "card-body">
                    <br/>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-success" value="Edit" />
        </div>
    </div>
</form>
